<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://madtinker.net/css/primary.css">
     <link rel="stylesheet" type="text/css" href="https://madtinker.net/css/syntax-base16.dark.css">
  <title>Flex Layout Examples</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  
  <script>
    $(function () {
  $(".toggleNav").on("click", function () {
    $(".flex-nav ul").toggleClass("open");
  });
});

$(document).ready(function () {
  $("a.scrollLink").click(function (event) {
    event.preventDefault();
    $("html, body").animate(
      {
        scrollTop: $($(this).attr("href")).offset().top
      },
      500
    );
  });
});
    
  </script>

  <style type="text/css">
    
    .vide {
  aspect-ratio: 16 / 9;
  width: 100%;
}
  </style>

</head>

<body>
  <div class="top hr-main">
    <div class="logo">
     <a href="http://madtinker.net"> <img src="https://madtinker.net/images/mad_tinker_logo_2.png" width="150px"></a>
    </div>
    <nav class="flex-nav">

      <a href="#" class="toggleNav"><i class="fa fa-bars"></i> Menu</a>
      <ul>
            <!-- <li><a href="https://madtinker.net" class="menus-title">Home</a></li>-->
        <li><a href="https://madtinker.net/tag/video" class="menus-title" title="About">Video</a></li>
        <li><a href="https://madtinker.net/tag/audio" class="menus-title" title="">Audio</a></li>

        <li><a href="https://madtinker.net/tag/code" class="menus-title" title="Services">Code</a></li>
        <li><a href="https://madtinker.net/tag/art" class="menus-title" title="Contact">Art</a></li>
        <li><a href="https://madtinker.net/tag/design" class="smenus-title" title="Contact">Design</a></li>
          <li><a href="https://madtinker.net/tag/UI" class="menus-title" title="Contact">UI/UX</a></li>
        <li><a href="https://madtinker.net/tag/project" class="menus-title" title="Contact">Projects</a></li>
        <li><a href="https://madtinker.net/categories" class="menus-title" title="Categories">Categories</a></li>

      </ul>
    </nav>

  </div>
  <div class="wrapper">


<!--<article class="post">-->

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

    

	{% endif %}
	<p class="meta">Posted on: &nbsp;<span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span></p>
  <br>




 
<span>
    {% for tag in page.tag %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      tag:<a href="/tag/{{ tag_name }}">&nbsp;{{ tag_name }}&nbsp;</a>
    {% endfor %}
  </span>
<br><br>

	{{ content }}<br/><br/><br/>

 




 <div class="container">

      <!-- {{page.categories | capitalize | join: ', '}}
      <div class="item3">-->

    <h2>Code</h2>
      <ul>
         
{% for post in site.categories.Code limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">Posted on: &nbsp;{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}

</ul>

<br>

<h2>Art</h2>
<ul>
{% for post in site.categories.Art limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}

</ul>

<br>

<h2>Design</h2>

<ul>

{% for post in site.categories.Design limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}

</ul>

<br>

<h2>UI/UX</h2>

<ul>
{% for post in site.categories.UI limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>

<br>

<h2>Video</h2>

<ul>
{% for post in site.categories.Video limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>


<br>

<h2>Projects</h2>

<ul>
{% for post in site.categories.Project limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>


<br>

<h2>Social</h2>

<ul>
{% for post in site.categories.Social limit:6 %}
    <li><a href="{{ post.url }}">{{ post.title}}</a>
    <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
    </li>
{% endfor %}
</ul>


</div>
</div>

 </div>
      <footer>

      

            <a href="https://www.netlify.com">
              <img width="114px" height="50px"  src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Deploys by Netlify" />
            </a>
         

     

     </footer>
  

 </body>
